@font-face {
  font-family: 'StopMotion';
  src: url('fonts/Stopmotion/StopmotionDecember11.ttf') format('truetype')
}

@font-face {
  font-family: 'inter';
  src: url('fonts/static/Inter-Light.ttf') format('truetype')
}

html {
  height: 100%;
  overflow: hidden;
}

body {
  background: repeating-linear-gradient(to bottom, #F15481 0%, #A76BEF 100%);
  line-height: 1.5;
  margin: 0;
  padding: 0;
  
}

.top {
  position: absolute;
  padding-top: 5px;
  top: -7%;
}

#header {
  background-color: #D3D3D3;
  opacity: 73%;
  color: #E0E0E0;
  height: 10%;
  z-index: 3;
  position: absolute;
  width: 100%;
}

#header a {
  padding-left: 25%;
  float: left;
  margin-left: 0%;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#links {
  font-family: 'inter';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
}

#snow {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;	
  background: url(sources/snow.png);
  animation: fall 10s linear infinite alternate;
}

@keyframes fall {
  0% {
    transform: translateY(-1000px);
  }
}

#search {
  position: absolute;
  top: 50%;
  left: calc(100% - 175px);
  transform: translate(-50%, -50%);
  width: 300px;
  height: 40px;
  background: #fff;
  border: none;
  box-shadow: #2a2a2d 1px 1px 10px;
}

#search::placeholder {
  color: #2a2a2d;
  font-size: 14px;
  font-family: 'inter';
  padding-left: 10px;
}

#search_submit {
  visibility: hidden;
}

#middle {
  top: 10%;
  height: 87%;
  z-index: 1;
  position: absolute;
  width: 100%;

}

#guirlande_left {
  position: absolute;
  transform: scale(0.40, 0.40) translate(-78%, -78%);
  z-index: 2;
}

#guirlande_middle {
  position: absolute;
  transform: scale(0.5, 0.5) translateY(-95%) rotate(50deg);
  left: calc(50% - 244px);
  display: block;
  z-index: 2;
}

#guirlande_right {
  position: absolute; 
  transform: scale(0.4, 0.4) translate(-50%, -75%) scaleX(-1);
  image-orientation: initial;
  left: calc(100% - 200px);
  z-index: 2;
}

#headset {
  position: absolute;
  transform: scale(0.35, 0.4) rotate(24deg);
  left: -45%;
  top: -47%;
  z-index: 1;
}

#micro {
  position: absolute;
  transform: scale(0.32, 0.32) rotate(-30deg);
  left: calc(66%);
  top: calc(-77%);
  z-index: 1;
}

#keyboard {
  position: absolute;
  transform: scale(0.32, 0.32) rotate(27deg);
  left: -41%;
  top: 26%;
  z-index: 1;
}

#mouse {
  position: absolute;
  transform: scale(0.45, 0.45) rotate(-41deg);
  left: 76%;
  top: 60%;
  z-index: 1;
}