@font-face {
  font-family: 'StopMotion';
  src: url('fonts/Stopmotion/StopmotionDecember11.ttf') format('truetype')
}

@font-face {
  font-family: 'inter';
  src: url('fonts/static/Inter-Light.ttf') format('truetype')
}

html {
  height: 100%;
  overflow: hidden;
}

body {
  background: repeating-linear-gradient(to bottom, #F15481 0%, #A76BEF 100%);
  line-height: 1.5;
  margin: 0;
  padding: 0;
  
}

.top {
  position: absolute;
  top: -7%;
}

#header {
  background-color: #D3D3D3;
  opacity: 73%;
  color: #E0E0E0;
  height: 10%;
  z-index: 3;
  position: absolute;
  width: 100%;
}

#header a {
  padding-left: 0%;
  float: left;
  margin-left: 2%;
  color: black;
  text-align: center;
  left: -1%;
  top: 10%;
  text-decoration: none;
}

#links {
  font-family: 'inter';
  position: relative;
  top: -5%;
  left: 84%;
  width: 100%;
  transform: translate(-50%, -50%);
  font-size: 14px;
}

.a {
  margin-left: 150%;
}

#search {
  position: absolute;
  top: 50%;
  left: 88%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 40px;
  background: #fff;
  border: none;
  box-shadow: #2a2a2d 1px 1px 10px;
}

#search::placeholder {
  color: #2a2a2d;
  font-size: 14px;
  font-family: 'inter';
  padding-left: 5%;
}

#search_submit {
  visibility: hidden;
}

/*midle div that take all the page exept the header*/
#middle {
  top: 10%;
  height: 87%;
  z-index: 1;
  position: absolute;
  width: 100%;
}

#guirlande_left {
  position: absolute;
  transform: scale(0.40, 0.40) translate(-78%, -77%);
  z-index: 2;
}

#guirlande_middle {
  position: absolute;
  transform: scale(0.5, 0.5) translateY(-95%) rotate(50deg);
  left: 40%;
  display: block;
  z-index: 2;
}

#guirlande_right {
  position: absolute; 
  transform: scale(0.45, 0.45) translate(-50%, -63%) scaleX(-1);
  image-orientation: initial;
  left: 89%;
  z-index: 2;
}

#headset {
  position: absolute;
  transform: scale(0.35, 0.4) rotate(24deg);
  left: -37%;
  top: -35%;
  z-index: 1;
}

#micro {
  position: absolute;
  transform: scale(0.32, 0.32) rotate(-30deg);
  left: 72%;
  top: -59%;
  z-index: 1;
}

#keyboard {
  position: absolute;
  transform: scale(0.32, 0.32) rotate(24deg);
  left: -33%;
  top: 41%;
  z-index: 1;
}

#mouse {
  position: absolute;
  transform: scale(0.45, 0.45) rotate(-41deg);
  left: 80%;
  top: 68%;
  z-index: 1;
}